---
import Section from "../Section.astro";
---

<Section title="Who am I">
  <p>WEBデザインと食べるのが好き</p>
  <p>Next.js、headless CMS、firebase、Docker、機械学習、Electronなどなど。</p>
  <p>最近興味あるのはGSAP。</p>
  <p><a href="/social">その他SNS生息情報</a></p>
</Section>
<style>
  p {
    line-height: 1.5;
    margin: 0.25rem 0;
  }
</style>
