---
import Section from '@/components/Section.astro'
---

<Section>
  <div class="root">
    <p>作る書く描く読む見る全部大好き</p>
    <p>一次創作 / サイト制作 / 読書 / 写真撮影 / 映画鑑賞 / 散歩 etc...</p>
  </div>
</Section>

<style lang="scss">
  .root {
    max-width: 800px;
    margin: 0 auto;

    p {
      margin: 0.25rem 0;
      text-align: center;
    }
  }
</style>
