---
import ImageLinkList from '@/components/ImageLinkList.astro'
import { SearchLinks } from '@/data/link/search'
import { DoumeiLinks } from '@/data/link/doumei'
import { SozaiLinks } from '@/data/link/sozai'
---

<div class="inner" id="link">
  <!-- <Title text="素材お借りしました" /> -->
  <ImageLinkList list={SozaiLinks} />
</div>
<hr />
<div class="inner">
  <!-- <Title text="サーチ" /> -->
  <ImageLinkList list={SearchLinks} />
</div>
<hr />
<div class="inner">
  <!-- <Title text="同盟" /> -->
  <ImageLinkList list={DoumeiLinks} />
</div>

<style lang="scss">
  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5px;
  }
  p {
    line-height: 1.2;
  }
  .inner {
    width: 90%;
    margin: 0 auto;
  }
</style>
