---
export interface Props {
  url: string;
  title: string;
}

const { title, url } = Astro.props;

import Section from "../Section.astro";

type RssResponse = {
  items: RssItem[];
};

type RssItem = {
  title: string;
  link: string;
};

const res = await fetch(`https://api.rss2json.com/v1/api.json?rss_url=${url}`);
const data: RssResponse = await res.json();
const recentData = data.items.splice(0, 5);
---

<Section title={title}>
  <ul>
    {
      recentData.map((item: RssItem) => (
        <li>
          ・{" "}
          <a href={item.link} target="_blank" rel="noreferrer noopener me">
            {item.title}
          </a>
        </li>
      ))
    }
  </ul>
</Section>
<style>
  li {
    line-height: 1.5;
    margin: 0;
  }
</style>
