---
import { SNS_LIST } from "../../data/sns";
import Section from "../Section.astro";
---

<Section title="発信">
  <ul>
    {
      SNS_LIST.map((item) => (
        <li>
          <a href={item.url} target="_blank" rel="noreferrer noopener me">
            {item.name}
          </a>
        </li>
      ))
    }
  </ul>
</Section>
<style>
  li:not(:last-child) {
    margin-bottom: 8px;
  }
</style>
