---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
import TopImage from "../components/TopImage.astro";
import BottomImage from "../components/BottomImage.astro";
import Abstract from "../components/Abstract.astro";
import Certification from "../components/Certification.astro";
import Timeline from "../components/Timeline.astro";
import Skills from "../components/Skills.astro";
import Transmit from "../components/Transmit.astro";
import Product from "../components/Product.astro";
import RssPosts from "../components/RssPosts.astro";
---

<Layout title="manasandbox">
  <TopImage />
  <section class="mainSection">
    <Link />
    <Abstract />
    <Transmit />
    <Skills />
    <Product />
    <RssPosts title="最近のZennの投稿" url="https://zenn.dev/thetalemon/feed" />
    <RssPosts title="最近のnoteの投稿" url="https://note.com/thetalemon/rss" />
    <Certification />
    <Timeline />
    <Link />
  </section>
  <BottomImage />
</Layout>

<style>
  .mainSection {
    padding: 0 8px;
  }
</style>
