---
import Layout from '@/layouts/Layout.astro'
import Links from '@/components/sections/Links.astro'
import TopImage from '@/components/TopImage.astro'
import BottomImage from '@/components/BottomImage.astro'
import Abstract from '@/components/sections/Abstract.astro'
import LinkList from '@/components/sections/LinkList.astro'
---

<Layout title="manasandbox">
  <TopImage />
  <Links />
  <section class="mainSection">
    <Abstract />
    <LinkList />
  </section>
  <BottomImage />
  <Links />
</Layout>

<style>
  .mainSection {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
</style>
