---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Link from '../components/Link.astro'
import TopImage from '../components/TopImage.astro'
import BottomImage from '../components/BottomImage.astro'
import Abstract from '../components/Abstract.astro'
import Certification from '../components/Certification.astro'
import Timeline from '../components/Timeline.astro'
import Skills from '../components/Skills.astro'
import Product from '../components/Product.astro'
---

<Layout title="Welcome to Astro.">
  <main>
    <TopImage/>
    <section class="mainSection">
      <Link/>
      <Abstract/>
      <Skills/>
      <Product/>
      <Certification/>
      <Timeline/>
    </section>
    <BottomImage/>
  </main>
</Layout>

<style>
  main {
    margin: 0;
  }
  .mainSection {
    padding: 0 16px;
  }
</style>
