---
import Layout from "../layouts/Layout.astro";
import Links from "../components/sections/Links.astro";
import TopImage from "../components/TopImage.astro";
import BottomImage from "../components/BottomImage.astro";
import Abstract from "../components/sections/Abstract.astro";
import Other from "../components/sections/Other.astro";
import Product from "../components/sections/Product.astro";
import RssPostList from "../components/sections/RssPostList.astro";
import Separate from "../components/Separate.astro";
---

<Layout title="manasandbox">
  <TopImage />
  <section class="mainSection">
    <Abstract />
    <Separate />
    <RssPostList title="最近の投稿" />
    <Separate />
    <Product />
    <Separate />
    <Other />
    <Links />
  </section>
  <BottomImage />
</Layout>

<style>
  .mainSection {
    max-width: 800px;
    margin: 0 auto;
  }
</style>
