---
import Layout from "../layouts/Layout.astro";
import Links from "../components/sections/Links.astro";
import TopImage from "../components/TopImage.astro";
import BottomImage from "../components/BottomImage.astro";
import Abstract from "../components/sections/Abstract.astro";
import Other from "../components/sections/Other.astro";
import Transmit from "../components/sections/Transmit.astro";
import Product from "../components/sections/Product.astro";
import RssPosts from "../components/sections/RssPosts.astro";
---

<Layout title="manasandbox">
  <TopImage />
  <section class="mainSection">
    <Links />
    <Abstract />
    <RssPosts
      titleSrc="/social/zenn.png"
      title="最近のZennの投稿"
      url="https://zenn.dev/thetalemon/feed"
    />
    <RssPosts
      titleSrc="/social/note.webp"
      title="最近のnoteの投稿"
      url="https://note.com/thetalemon/rss"
    />
    <RssPosts
      title="最近の読書・映画感想ブログの投稿"
      url="https://read.manasas.dev/rss"
    />
    <RssPosts
      title="最近の雑記ブログの登校"
      url="https://diary.manasas.dev/feed"
    />
    <Transmit />
    <Product />
    <Other />
    <Links />
  </section>
  <BottomImage />
</Layout>

<style>
  .mainSection {
    padding: 0 8px;
  }
</style>
