---
import Layout from '@/layouts/Layout.astro'
import RssPostList from '@/components/sections/RssPostList.astro'
import { RSS_LIST, DIARY_LIST } from '@/data/rssList'
import Separate from '@/components/Separate.astro'
---

<Layout title="manasandbox">
  <section class="mainSection">
    <RssPostList title="最近の投稿" list={RSS_LIST} slug="recent" />
    <RssPostList title="日記" list={DIARY_LIST} itemNum={4} slug="diary" />
  </section>
</Layout>

<style>
  .mainSection {
    padding: 16px 8px 40px 8px;
  }
</style>
