---
import Layout from '@/layouts/Layout.astro'
import RssPostList from '@/components/sections/RssPostList.astro'
import { NOTE, BLOG, DIARY_LIST } from '@/data/rssList'
---

<Layout title="manasandbox">
  <section class="mainSection">
    <RssPostList title="ブログ" target={BLOG} />
    <RssPostList title="note" target={NOTE} />
    <RssPostList title="日記" target={DIARY_LIST} />
  </section>
</Layout>

<style>
  .mainSection {
    padding: 16px 8px 40px 8px;
  }
</style>
