---
import Section from "./Section.astro";
---

<Section title="Who am I">
  <p>フロントエンド実装大好き。</p>
  <p>フロントエンドを軸にfirebase、Docker、機械学習、Electronとか色々やる。</p>
  <p>最近興味あるのはp5.jsとGSAP。</p>
  <p>プライベートは旅と御朱印巡り。</p>
</Section>
<style>
  p {
    line-height: 1.5;
    margin: 0;
  }
</style>
