---
import { Image } from 'astro:assets'
import Logo from './images/logo.svg'
---

<div class="bottomWrapper">
  <Image class="image" src={Logo} alt="まなさすと書かれた落款風の画像" />
</div>
<style lang="scss">
  .bottomWrapper {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    .image {
      height: 180px;
    }
  }
</style>
