---
import Image from "./Image.astro";
---

<div class="bottomWrapper">
  <Image
    imagePathWithOutExt="/bottom/aza166"
    width={840}
    alt="その他趣味色々のアザラシの画像"
    aspectRatio="2:1"
  />
</div>
<style>
  .bottomWrapper {
    margin-top: 24px;
  }
</style>
