---
import Webp from "./WebpImage.astro";
---

<div class="bottomWrapper">
  <Webp
    imagePathWithOutExt="/bottom/aza166"
    width={840}
    height={420}
    alt="その他趣味色々のアザラシの画像"
  />
</div>
<style>
  .bottomWrapper {
    margin-top: 24px;
  }
</style>
