---
export interface Props {
  title?: string
  link?: string
}

const { title, link } = Astro.props
---

<section class="root">
  {
    title && (
      <h2 class="title">
        {link ? (
          <a href={link} target="_blank" rel="noreferrer noopener me">
            {title}
          </a>
        ) : (
          <span>{title}</span>
        )}
      </h2>
    )
  }
  <div class="content">
    <slot />
  </div>
</section>
<style lang="scss">
  .root {
    margin: 0 8px;
  }
  h2 {
    margin: 0 0 0.5rem 0;
    a {
      color: inherit;
    }
  }
  .title {
    margin-top: 40px;
  }
  .content {
    margin: 0 8px;
  }
</style>
