---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section class="root">
  <h2>{title}</h2>
  <div class="sectionWrapper">
    <slot />
  </div>
</section>
<style>
  .root {
    margin: 1rem 1rem;
  }
  h2 {
    margin-bottom: 0.5rem;
  }
  .sectionWrapper {
    padding: 0.5rem 0 0 0.5rem;
  }
</style>
