---
import type { SkillItem } from "@/data/skill";

export interface Props {
  list: SkillItem[];
}

const { list } = Astro.props;
const convert2Path = (filename: string) => {
  const prefix = "/tech-logo/";
  return prefix + filename;
};
---

<ul class="iconWithTextFlexList">
  {
    list.map((item: SkillItem) => (
      <li class="iconWithText">
        <img
          src={convert2Path(item.src)}
          alt={item.name}
          width="80"
          height="50"
        />
        <p>{item.name}</p>
      </li>
    ))
  }
</ul>
<style>
  .iconWithTextFlexList {
    display: grid;
    grid-row-gap: 16px;
    padding: 8px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    background: #fff;
    height: calc(100% - 17px);
  }
  .iconWithText {
    padding: 4px;
    text-align: center;
  }
  p {
    font-size: 12px;
    margin-bottom: 0;
  }
</style>
