---
import { SNS_LIST } from '@/data/socialAll'
---

<ul class="root">
  {
    SNS_LIST.map((item) => (
      <li>
        <a class="item" href={item.url} target="_blank">
          <div class="imgWrapper">
            <img src={item.icon} />
          </div>
          <div class="description">
            <p>{item.title}</p>
            <p>{item.comment}</p>
          </div>
        </a>
      </li>
    ))
  }
</ul>

<style lang="scss">
  .root {
    margin: 0 auto;
    padding: 16px 8px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .item {
    display: flex;
    border-radius: 16px;
    padding: 8px 8px 8px 16px;
    border: 1px solid #ccc;
    align-items: center;
    color: #44617b !important;
    .description {
      display: flex;
      flex-direction: column;
      gap: 8px;
      p {
        margin: 0;
      }
    }
  }
  .imgWrapper {
    width: fit-content;
    padding-right: 8px;
    margin-right: 12px;
    flex-shrink: 0;
  }
  img {
    width: 40px;
    height: 40px;
    display: block;
  }
</style>
