---
import { Image } from "astro:assets";
import ImageTop from "./images/top.png";
---

<div class="topWrapper">
  <Image
    class="topImage"
    src={ImageTop}
    width={2600}
    height={1706}
    alt={"まなさすの自己紹介画像。白くてまるいアザラシ。"}
  />
</div>

<style lang="scss">
  .topWrapper {
    position: relative;
    line-height: 0;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    background: #44617b;

    .topImage {
      width: 100%;
      max-width: 480px;
      height: auto;
    }
    .textArea {
      line-height: 1;
      color: rgba(0, 0, 0, 0.7);
      top: 20%;
      left: 10%;
      p {
        margin: 4px;
      }
      .title {
        font-size: 20px;
      }
      .name {
        margin-top: 16px;
        font-size: 28px;
      }
      .ruby {
        font-size: 20px;
      }
    }
  }
</style>
