---
import { Image } from 'astro:assets'
import ImageTop from './images/top.svg'
---

<div class="topWrapper">
  <Image
    class="topImage"
    src={ImageTop}
    alt={'まなさすの自己紹介画像。白くてまるいアザラシ。'}
    loading={'eager'}
  />
</div>

<style lang="scss">
  @use '../styles/colors.scss';

  .topWrapper {
    position: relative;
    line-height: 0;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    background: colors.$primary-color;
    padding: 40px 0;
    .topImage {
      width: 100%;
      max-width: 320px;
      height: auto;
    }
  }
</style>
