---
import { Image } from 'astro:assets'
import ImageTop from './images/top.png'
---

<div class="topWrapper">
  <Image
    class="topImage"
    src={ImageTop}
    width={480}
    height={314}
    alt={'まなさすの自己紹介画像。白くてまるいアザラシ。'}
    loading={'eager'}
  />
</div>

<style lang="scss">
  .topWrapper {
    position: relative;
    line-height: 0;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    background: #44617b;
    .topImage {
      width: 100%;
      max-width: 480px;
      height: auto;
    }
  }
</style>
