<div class="topWrapper">
  <img
    class="myIcon"
    src={"/myicon.jpg"}
    alt={"遠くを見つめるアザラシのトップ画像"}
  />
  <div class="textArea">
    <p class="name">まなさす</p>
    <p class="ruby">mansas</p>
  </div>
</div>

<style lang="scss">
  .topWrapper {
    padding: 32px;
    position: relative;
    line-height: 0;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;

    .myIcon {
      width: 120px;
      border-radius: 50%;
    }
    .textArea {
      line-height: 1;
      color: rgba(0, 0, 0, 0.7);
      top: 20%;
      left: 10%;
      p {
        margin: 4px;
      }
      .title {
        font-size: 20px;
      }
      .name {
        margin-top: 16px;
        font-size: 28px;
      }
      .ruby {
        font-size: 20px;
      }
    }
  }
</style>
