---
import Image from "./Image.astro";
---

<div class="topWrapper">
  <Image
    imagePathWithOutExt="/top/aza2109"
    width={840}
    alt="遠くを見つめるアザラシのトップ画像"
    aspectRatio="2:1"
  />
  <div class="textArea">
    <p class="title">Tech Crafter</p>
    <p class="name">まなさす</p>
  </div>
</div>

<style>
  .topWrapper {
    position: relative;
    line-height: 0;
  }
  .title {
    font-size: 20px;
    margin: 0;
  }
  .name {
    margin-top: 16px;
    font-size: 32px;
  }
  .textArea {
    line-height: 1;
    color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 20%;
    left: 10%;
  }
  @media only screen and (max-width: 500px) {
    .title {
      font-size: 20px;
    }
    .name {
      font-size: 26px;
    }
  }
</style>
