---
import Webp from './WebpImage.astro'
---
<div class="topWrapper">
  <Webp
    imagePathWithOutExt="/top/aza2109"
    width={840}
    height={420}
    alt="遠くを見つめるアザラシのトップ画像"
  />
  <div class="titleTextArea">
    <h1>Tech Crafter</h1>
    <h2>まなさす</h2>
  </div>
</div>

<style>
  .topWrapper {
    position: relative;
    line-height: 0;
  }
  
  @media only screen and (max-width: 600px) {
    h1 {
      font-size: 30px;
    }
    h2 {
      font-size: 26px;
    }
  }

  @media only screen and (max-width: 500px) {
    h1 {
      font-size: 26px;
    }
    h2 {
      font-size: 18px;
    }
  }
  
  .titleTextArea {
    line-height: 1.0;
    color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 20%;
    left: 10%;
  }
</style>
