---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/mylogo.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="WEBエンジニア まなさすのポートフォリオ。"
    />
    <meta property="og:site_name" content="manasandbox" />
    <meta property="og:title" content={title} />
    <meta property="og:url" content="https://manasas.dev" />
    <meta
      property="og:description"
      content="WEBエンジニア まなさすのポートフォリオ。"
    />
    <meta property="og:image" content="https://manasas.dev/bottom/aza166.png" />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <h1><a href="/">Mana's sandbox</a></h1>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <a href="https://manasas.dev/" rel="me">© 2022 Manami SASAKI</a>
    </footer>
  </body>
</html>

<style lang="scss">
  header,
  footer {
    a,
    a:visited,
    a:hover a:focus {
      color: #fff;
      text-decoration: none;
    }
  }
  header {
    background: #44617b;
    color: #fff;
    vertical-align: baseline;
    padding: 4px 8px;
    & > h1 {
      margin: 0;
      font-size: 18px;
      font-weight: 300;
    }
  }
  footer {
    background: #44617b;
    color: #fff;
    text-align: center;
    padding: 4px 8px;
  }
  main {
    max-width: 800px;
    margin: 0 auto;
  }
  @media only screen and (max-width: 500px) {
    header > h1 {
      font-size: 18px;
    }
  }
</style>
<style is:global>
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #fff;
  }
  body {
    margin: 0;
  }
  a {
    text-decoration: none;
    color: #65318e;
  }
  a:visited {
    text-decoration: none;
    color: #007b43;
  }
  a:hover {
    opacity: 0.5;
  }
</style>
